* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  /* overflow: hidden; */
  box-sizing: border-box;
}



/* Landing page banckground image */
body {
  background-image: url("./images/water.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  /* animation: water 2s linear alternate infinite; */
}

.logo {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin: 3rem 0;
}

.white-logo {
  color: white;
}

@keyframes water {
  100% {
    transform: translateY(50px);
  }
}

/* Class that contains all menu items */
.categories {
  display: grid;
  width: 150px;
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.category-folder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.category-folder-structure {
  width: fit-content;
  margin-left: -30px;

}

/* Menu item */
.folder-img {
  height: 50px;
  position: absolute;
}

.image-sample {
  margin-top: 3px;
  height: 40px;
  /* width: 36px; */
  position: absolute;
  transform-origin: left center;


  perspective-origin: left center;

  transform: rotateY(79deg);
  width: 175px;

  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

/* Menu item folder image */
.folder {
  height: 10vh;
  /* z-index: 3; */
}

.category-name {
  font-size: 1rem;
  margin-top: 15vh;
  color: white;
}

/* open folder */
.open-folder-container {
  width: 80%;
  height: 80vh;
  background-color: white;
  position: absolute;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.2px solid grey;

}

.open-folder-icons {
  display: grid;
  margin: 8px 0;
  grid-template-columns: 65% 1fr 1fr 1fr;
}

/* Folder path */
.folder-path {
  display: flex;
  border: 0.2px solid grey;
  margin: 0 10px;

}

.folder-path-icon {
  width: 10px;
  object-fit: contain;
}

.back-arrow {
  width: 12px;
  margin: 0 10px;

}




.folder-path h3 {
  font-size: 0.5rem;
  font-weight: normal;
}


.art-piece-large-icon {
  height: 55px;
  width: 50px;
  object-fit: contain;
}

.art-pieces {
  display: grid;
  margin: 5px 10px 0 10px;
  grid-template-columns: repeat(auto-fill, minmax(55px, auto));
  overflow: scroll;
  border: 0.3px solid grey;
  height: 81%;
  grid-gap: 10px;
}

.art-pieces h4 {
  font-weight: normal;
  font-size: 0.4rem;
  text-align: center;
}

.art-piece {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2px;
}