* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  font-weight: normal;
}

#spinner {
  position: fixed;
  height: 100vh;
  top: 0;
  background-color: white;
  z-index: 12;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #369AD9;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Landing page banckground image */
body {
  background-image: url("./images/water.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  /* animation: water 2s linear alternate infinite; */
}

h1 {
  font-size: 4rem;
  margin: 200px 0;

}

.logo {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.white-logo {
  color: white;
}

@keyframes water {
  100% {
    transform: translateY(50px);
  }
}

/* Class that contains all menu items */
.categories {
  display: grid;
  width: 250px;
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.minimize {
  align-self: center;
  height: 0.1rem;
  width: 2.2rem;
}

.category-folder {
  display: flex;
  /* justify-content: center; */
  margin: 15px 0;
  align-items: center;
  flex-direction: column;
}

.category-folder-structure {
  width: fit-content;
  display: flex;
  justify-content: center;


}

/* Menu item */
.folder-img {
  height: 120px;
  position: absolute;
}

.image-sample {
  margin-top: 8px;
  height: 94px;
  /* width: 36px; */
  position: absolute;
  transform-origin: left center;
  perspective-origin: left center;
  transform: rotateY(79deg);
  width: 430px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;


}

/* Menu item folder image */
.folder {
  height: 10vh;
  /* z-index: 3; */
}

.category-name {
  font-size: 2rem;
  margin-top: 12vh;
  color: white;
}

/* open folder */
.open-folder-container {
  z-index: 1;
  width: 80%;
  /* height: 80vh; */
  height: 800px;
  background-color: white;
  position: absolute;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.2px solid grey;
  box-shadow: 15px 15px 15px -6px #777;

}

.open-folder-icons {
  display: grid;
  margin: 20px 30px;
  grid-template-columns: 75% 1fr 1fr 1fr;
  align-items: center;
}

.folder-menu-btn.back-arrow {
  width: 35px;
  transform: rotate(-90deg);
}

.justify-self {
  justify-self: flex-end;
}

/* Folder path */
.folder-path {
  display: flex;
  border: 0.2px solid grey;
  margin: 30px 30px;
  align-items: center;

}

.custom-path {
  display: flex;
  align-items: center;
}

.folder-path-icon {
  width: 40px;
  object-fit: contain;
  padding: 6px;
}

.folder-menu-btn {
  width: 25px;
  margin: 0 10px;

}

.minimizeNotepad,
.minimize,
.minimizeNotepadAbout {
  display: flex;
  align-items: center;
  height: 100%;
}


.minimize {
  width: 100%;
  justify-content: flex-end;
}

.minimize .folder-menu-btn {
  width: 26px;
}

.folder-path h3 {
  font-size: 1.2rem;
  font-weight: normal;
}

.art-pieces-categories {
  display: flex;
  margin: 30px 30px;
  /* grid-template-columns: repeat(auto-fill, minmax(220px, auto)); */
  border: 0.3px solid grey;
  /* height: 61vh; */
  height: 620px;
  grid-gap: 30px;
  overflow-Y: scroll;
}

.art-piece-large-icon {
  height: 200px;
  object-fit: contain;
}



.art-pieces h4 {
  font-weight: normal;
  font-size: 1.3rem;
  margin-top: 10px;
  text-align: center;
}

.art-piece {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.art-piece-name {
  margin: 20px 0;
  font-weight: normal;

}

#art-piece-name {
  font-weight: bold;
}

#art-piece-info,
#art-piece-year {

  font-weight: normal;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}


.sub-category-icon {
  height: 130px;
  width: 120px;
  object-fit: contain;
}


.subcategory-icon-and-name {
  width: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;

}



.contact-page.subcategory-file,
.about-page-btn.subcategory-file {
  margin: 20px;
  width: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.contact-page.subcategory-file h2.category-name,
.about-page-btn.subcategory-file h2.category-name {
  color: black;
  font-size: 1rem;
  margin: 0;
}

.contact-page.subcategory-file .contact-img,
.about-page-btn.subcategory-file .contact-img {
  position: relative;
}


.contact-page.subcategory-file .contact-img {
  height: 130px;
  width: 120px;
  object-fit: contain;
}

/* art info pop-up window */

.info-pop-up {
  width: 25%;
  background-color: #D4D0C8;
  position: absolute;
  margin-right: auto;
  top: 40%;
  left: 70%;
  border: 1px solid black;
  box-shadow: 15px 15px 15px -6px #777;
  z-index: 100;
}

.info-pop-up-icons {
  display: grid;
  grid-template-columns: 95% 1fr;
  height: 25%;
  background-color: #000080;
  color: white;
  padding: 0.4em;
}

.info-pop-up-content {
  padding: 0.5em;
}

.art-piece-info,
.art-piece-year {

  display: inline;

}

.info-pop-up-closeBtn {
  width: 1em;
  background-color: #D4D0C8;
  padding: 0.2em;
  margin-top: 0.2em;
}

.info-pop-up-ok {

  background-color: #D4D0C8;
  border: 1px solid black;
  width: 20%;
  box-shadow: 5px 5px 5px -3px #777;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}

.this-pc {
  cursor: pointer;
}

/* contact page */
.open-contact-page,
.open-about-page {
  width: 80%;
  /* height: 80vh; */
  height: 800px;
  background-color: white;
  position: absolute;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.2px solid grey;
  box-shadow: 15px 15px 15px -6px #777;
  z-index: 3;
}

.open-contact-icons,
.open-about-icons {
  display: grid;
  align-items: center;
  height: 60px;
  border-bottom: 0.2px solid grey;
  padding-top: 0.4em;
  width: 100%;
  grid-template-columns: 1fr 80% 1fr 1fr 1fr;
}

.notepad-icon {
  margin-left: 0.5em;
}

.notepad-name {
  font-size: 20px;
  font-weight: 100;
}

.open-contact-content {
  padding: 1em;
}



.open-contact-content p {
  padding: 0.1em;
  font-size: 20px;
}

.contact-page,
.about-page-btn {
  display: flex;
  margin: 15px 0;
  align-items: center;
  flex-direction: column;
}

.about-page-btn {
  align-items: flex-end;
  margin: 0 100px;
  width: fit-content;
}


.pathNameAndIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.path-to-the-folder {
  display: flex;
}


.uniClass {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;

}

.subcategory {
  color: black;
}

/* Photo */
.photo-container {
  position: absolute;
  flex-direction: column;
  width: 80%;
  /* height: 80%; */
  height: 800px;
  background-color: white;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 1px solid grey;
  z-index: 10;
}

.photo-container h4 {
  text-align: center;
  font-weight: normal;
  grid-area: 1/1/ span 1/ span 2;
}

.photoHeader {
  display: grid;
  grid-template-columns: 80% 20%;
  background-color: #e8e2e2c7;
  padding: 0.5rem;
  align-items: center;
  border-bottom: 1px solid grey;
}

.photo-bg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows-container {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  margin-top: auto;
  border-top: 1px solid grey;
  background-color: #ede9e9;
  padding: 1.2rem 0;
}


.arrowPreviousPhoto {
  transform: rotate(-90deg);
}

.photo {
  height: 65vh;
  object-fit: contain;
  padding: 1rem;
}

.arrows-container>div {
  display: flex;
}

.arrows-container-1 {
  display: flex;
  justify-content: flex-end;

}

.arrows-container-2 {
  display: flex;
  justify-content: center;

}

.arrows-container-3 {
  display: flex;
  justify-content: flex-start;

}


.iconPhoto {
  width: 3rem;
  margin: 0 2rem;
}

.arrowNextPhoto {
  transform: rotate(90deg);
}

.closeImg {
  height: 2rem;
  justify-self: flex-end;
  grid-area: 1/2;
}

/* About page */



.open-about-content {
  padding: 1em;
}

.open-about-content p {
  padding: 0.2em;
  font-size: 20px;
}

.about-page {
  display: flex;
  margin: 15px 30px;
  align-items: center;
  flex-direction: row-reverse;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .folder-img {
    height: 110px;
  }

  .category-name {
    font-size: 1.5rem;
    margin-top: 120px;
  }




  .contact-page.subcategory-file,
  .about-page-btn.subcategory-file {
    width: 100px;
  }

  .art-pieces-categories {
    height: 400px;
  }

  .open-contact-page,
  .open-about-page,
  .open-folder-container,
  .photo-container {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    margin-right: 0;
    top: 0;
    left: 0;
    transform: unset;
    border: 0.2px solid grey;
    box-shadow: 15px 15px 15px -6px #777;
  }


  .open-contact-icons,
  .open-about-icons {
    grid-template-columns: 1fr 1fr 50%;
  }

  .notepad-name {
    font-size: 1rem;
  }


  .minimizeNotepad,
  .maximizeNotepad,
  .maximizeNotepadAbout,
  .minimizeNotepadAbout,
  .minimize,
  .maximize {
    display: none;
  }


  .folder-menu-btn {
    width: 35px;
  }

  .folder-path h3 {
    font-size: 0.9rem;
  }


  .folder-path-icon {
    width: 35px;
  }

  .uniClass {
    margin: 0 20px;
  }


  .arrows-container {
    grid-template-columns: 50% 50%;
  }

  div.arrows-container-2 {
    display: none;
  }

  .info-pop-up {
    width: 100%;
    top: unset;
    left: unset;
    bottom: 100px;
  }

  .info-pop-up-ok {
    height: 2rem;
  }

}



/* Extra small devices (phones, 325px and down) */
@media only screen and (max-width: 325px) {
  .folder-img {
    height: 90px;
  }

  .category-name {
    font-size: 1.3rem;
    margin-top: 85px;
  }


  .contact-page.subcategory-file .contact-img,
  .about-page-btn.subcategory-file .contact-img,
  .sub-category-icon {
    height: 80px;
  }

  .uniClass {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* margin: 0 20px; */
  }


}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}